*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --sidebar-bg: #f6f7f8;
  --header-color: #a7a7a7;
  --black: #13171a;
  --light-black: #303335;
  --green: #00ba6c;
  --light-green: #33ba6c62;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--black);
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  max-width: 670px;
}
ul span,
ol span {
  font-weight: 600;
}

ol li {
  margin-left: 1.2rem;
}

ul li {
  margin-left: 1.5rem;
  list-style: disc;
}

p {
  max-width: 670px;
  font-size: 0.97rem;
}

section {
  transition: 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.flex-center, .sidenav .left-content .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: auto;
  max-width: 82rem;
  padding: 0 1.5rem;
}

.rotate {
  transform: rotate(180deg);
}

.mt-1 {
  margin-top: 0.6rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mt-3 {
  margin-top: 1.5rem;
}

.mt-4 {
  margin-top: 2rem;
}

.mt-5 {
  margin-top: 2.5rem;
}

.hidden {
  display: none;
}

/*---------------------------------------------------- 
Header Area
----------------------------------------------------*/
header {
  background-color: var(--black);
  position: relative;
}
header .wrapper {
  padding: 1.5rem;
}
header .wrapper .main-logo {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  gap: 0.8rem;
  color: var(--white);
}
header .wrapper h3 {
  font-size: 1.4rem;
}
header .wrapper img {
  width: 1.8rem;
}
header .padding {
  display: block;
  width: 100%;
  height: 2rem;
  background-color: var(--light-black);
}

/*---------------------------------------------------- 
Main Area
----------------------------------------------------*/
main {
  display: flex;
  gap: 2rem;
  position: relative;
  padding-bottom: 2rem;
  max-width: 75rem;
  width: 100%;
}

.sidenav {
  width: 310px;
  background-color: var(--sidebar-bg);
  display: flex;
  align-items: center;
}
.sidenav .wrapper {
  position: sticky;
  top: 0;
  gap: 2rem;
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  max-width: 15rem;
}
.sidenav .left-content .label {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 1rem;
  gap: 0.6rem;
  min-width: 12rem;
  cursor: pointer;
}
.sidenav .left-content .label h3 {
  display: block;
  font-size: 1rem;
}
.sidenav .left-content svg {
  transition: 0.3s ease-in-out;
}
.sidenav .left-content ul {
  border: 1px solid transparent;
  border-radius: 12px;
  margin-top: 0.5rem;
  overflow: hidden;
  display: grid;
  max-height: 0;
  height: 100%;
  transition: 0.3s ease-in-out;
}
.sidenav .left-content ul li {
  list-style: none;
  margin: 0;
}
.sidenav .left-content ul a {
  display: flex;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  border-radius: 10px;
}
.sidenav .left-content ul .active {
  background-color: var(--light-green);
}
.sidenav .left-content .heightwidth {
  max-height: 350px;
  width: unset;
  transition: 0.3s ease-in-out;
}

.all-sections {
  display: flex;
  flex-direction: column;
  max-width: 54rem;
  width: 100%;
}

.paras {
  max-width: 670px;
  display: grid;
  gap: 1.2rem;
  margin-top: 0.8rem;
}

.contents {
  display: grid;
  gap: 2.2rem;
}

.img-content img {
  margin-left: -1rem;
  margin-top: 0.8rem;
}

.heading h2 {
  color: var(--header-color);
  font-size: 1.35rem;
}

h1 {
  color: var(--green);
  font-size: 1.875rem;
  margin-top: 2.2rem;
}

h2 {
  color: var(--header-color);
  font-size: 1.4rem;
  padding-top: 2rem;
}

.prev h1 {
  margin-top: 0;
  padding-top: 2.2rem;
}
.prev .analyst {
  width: 100%;
}
.prev .analyst .paras {
  margin-bottom: 4rem;
}
.prev .static-images {
  margin-top: 1.5rem;
  display: grid;
  gap: 2rem;
  flex-direction: column;
}
.prev .static-images .img .position-img {
  margin-left: 3rem;
  margin-top: -1.5rem;
}
.prev .static-images .img span {
  display: flex;
  max-width: 42.25rem;
  margin-bottom: 0.7rem;
  font-size: 1.02rem;
}
.prev .static-images img {
  display: flex;
  width: 100%;
}
.prev .filters .ranges {
  margin-top: 1rem;
}
.prev .filters .ranges img {
  max-width: 25rem;
  width: 100%;
}
.prev .filters .checkbox {
  margin-top: 2.5rem;
}
.prev .filters .checkbox img {
  max-width: 27rem;
  width: 100%;
}
.prev .filters .checkbox span {
  margin-top: 1.5rem;
  display: flex;
}
.prev .filters .checkbox ul {
  margin-top: 0.8rem;
}
.prev .filters .checkbox li {
  list-style: disc;
  margin-left: 1.7rem;
}
.prev .filters .checkbox .checkbox-img {
  margin-top: 2.5rem;
}

.overview .sm-img img {
  max-width: 25rem;
}

.getting-started h2 {
  font-size: 1.25rem;
  color: var(--green);
}

.bottom-content span {
  font-weight: 600;
}
.bottom-content .paras {
  margin-top: 0;
}

.action-items {
  display: grid;
  gap: 2.2rem;
}
.action-items ol,
.action-items ul {
  display: grid;
  gap: 0.25rem;
}

.action-content span {
  font-weight: 600;
  font-size: 1.1rem;
}
.action-content .center-img {
  max-width: 670px;
}
.action-content .center-img img {
  max-width: 20rem;
}
.action-content .sm-img img {
  max-width: 36rem;
}

.history {
  padding-bottom: 4rem;
}

.mt-gap {
  margin-top: 1.7rem;
}/*# sourceMappingURL=style.css.map */